<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Run"
            categoryId="NaoPlugin.commands.category"
            id="NaoPlugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="NaoPlugin.commands.sampleCommand"
            class="naoplugin.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Robot Project"
               mnemonic="M"
               id="NaoPlugin.menus.sampleMenu">
            <command
                  commandId="NaoPlugin.commands.sampleCommand"
                  mnemonic="S"
                  id="NaoPlugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
