<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.melanee.core.popupbarbuttons.provider">
      <provider
            class="org.drm.PlayButton"
            id="org.drm.playButton">
      </provider>
   </extension>
   
   <!-- Preferences -->
      <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.drm.preferences"
	    class="org.drm.PreferencePage"
            name="Deep Robot Model">
       </page>
   </extension>

</plugin>
